:root {
  --ff-primary: Georgia, 'Times New Roman', Times, serif;
  --ff-monospace: 'Courier New', Courier, monospace;
}

/* Box sizing rules */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  height: -webkit-fill-available; /* We have to fix html height */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-rendering: optimizeLegibility;
  line-height: 1.45;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
}


.skip-nav-link {
  position: absolute;
  transform: translateY(-150%);
}

.skip-nav-link:focus {
  transform: translateY(0);
}

html {
  color-scheme: light dark;
  --font-size-base: clamp(1rem, 1.250vw + 0.625rem, 1.375rem);
  --font-link-active: #777;
  --link-fade-duration: 0.1s;

}

body {
  font-size: var(--font-size-base);
  /* Font settings */
  font-feature-settings: normal;
  font-variant-numeric: oldstyle-nums;
  /* Hyphenation */
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

main,
footer,
header{
  width: min(50ch, 100% - 2rem);
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 0.1em;
  transition-property: background;
  transition-duration: var(--link-fade-duration);
}

a:focus-visible:not(.heading),
a:hover:not(.heading) {
  transition-property: background;
  transition-duration: var(--link-fade-duration);
}

a:active {
  color: var(--font-link-active);
}

/* External links - append link icon */
a[target]::after {
  content: "";
  margin-left: 0.2em; /* spacing */
  padding-right: 0.6em; /* sizing */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='%23900' d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
}

/* Internal links - change link font to smallcaps */
a:not([target]) {
  font-feature-settings: "c2sc" on;
  letter-spacing: normal;
}

/* Heading links - append gray hash */
a.heading:hover::after,
a.heading:focus-visible::after {
  content: "#";
  color: #999;
  margin-left: 0.1em;
  top: -0.05em;
  position: relative;
}

/* use small-cap alternate glyphs */
.smallcaps {
  font-feature-settings: "smcp" on;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 125%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 90%;
  text-transform: lowercase;
  font-feature-settings: "c2sc" on;
  font-variant-numeric: normal;
  letter-spacing: normal;
  line-height: 1.3;
  margin-top: 1.4rem;
  margin-bottom: 0.4rem;
}
h3 {
  font-size: 100%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 100%;
}

h1,h2,h3,h4,h5 {
  /* Disable hyphenation */
  word-wrap: normal;
  overflow-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;

  font-variant-numeric: normal;
}